{% extends 'firstapp/base2.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 left  top">
            <div class="card-body">


                <form method="post" action="{% url 'forgetpassword' %}">
                    {% csrf_token %}
                    <h2>Reset password </h2><hr>
                    <h4>Forgotten your password? Enter your email address below</h4><br>
                    Email :
                    <input type="email" name="email" placeholder="Enter the mail"><br /><br>

                    <button type="submit" class="btn btn-success">Send email</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}